<div id="page-wrapper" style="background: url(/images/img-risk-compliance-future-banking-2.jpg); background-position: center; background-attachment: fixed; background-size: cover;
height: 910px; margin-left: 0%;">
    <div class="main-page login-page ">
        <h2 class="title1">Login</h2>
        <div class="widget-shadow">
            <div class="login-body">
                <form action="/users/login" method="POST">
                    <input type="email" class="user" name="email" placeholder="Enter Your Email" required="">
                    <input type="password" name="password" class="lock" placeholder="Password" required="">
                    <div class="forgot-grid">
                        <label class="checkbox"></label>
                        <div class="forgot">
                            <a href="/users/forgot">forgot password?</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <input type="submit" name="Sign In" value="Sign In">
                    <div class="registration">
                        Don't have an account ?
                        <a class="" href="/users/register">
                            Create an account
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>