<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KTBank</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/custom/css/app.css">
    {{!-- <link rel="stylesheet" href="/custom/css/getConvert.css"> --}}
</head>

<body>
    <div class="app">
    
    <nav class="lv3-navbar bg-primary-lighter" style="position: fixed">
        <a href="#" class="btn-expand-collapse text-left border-top"><i
                class="fa fa-arrow-left text-primary-light"></i></a>
        <ul class="lv3-navbar-menu">
            <li class="text-center">
                <a href="#" class="active"><i class="fa fa-lock mr-2"> </i> <span class="nav-label">trending
                        #tags</span></a>
            </li>
            <li class="text-center">
                <a href="#" class=""><i class="fa fa-unlock mr-2"> </i><span class="nav-label">popular #tags</span></a>
            </li>
        </ul>
    </nav>

    <div class="main-content">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-4 bg-danger">
                    11
                </div>
                <div class="col-8 bg-dark">
                    12
                </div>
               
            </div>
        </div>

        <div style="width: 100%;">
            {{> header}}
        
            {{{body}}}
        
            {{> footer}}
        
        </div>
    </div>
     
    </div>
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>

 
    <script src="/custom/js/app.js"></script>
</body>

</html>

