<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KTBank</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/myStyle/css/app.css">
</head>

<body>
    <div class="app">

        {{> header}}

        {{{body}}}

        {{> footer}}

    </div>
    <script src="/bootstrap/jquery/jquery-3.5.1.js"></script>
    <script src="/bootstrap/jquery/popper.js"></script>
    <script src="/bootstrap/jquery/bootstrap.min.js"></script>
    <script src="/bootstrap/jquery/bootstrap-table.min.js"></script>
    </body>

</html>